.title{
    position: absolute;
    left: 13.75%;
    top: 2.62%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
}

.switch{
    position: absolute;
    width: 412px;
    height: 31px;
    left: 66%;
    top: 2%;
}

.text1{
    position: absolute;
    width: 107px;
    height: 16px;
    left: 66.5%;
    top: 3%;
}

.text2{
    position: absolute;
    width: 44px;
    height: 29.27px;
    left: 74.8%;
    top: 2.5%;
}

.text3{
    position: absolute;
    width: 77px;
    height: 29px;
    left: 79%;
    top: 2.5%;
}

.text4{
    position: absolute;
    width: 115px;
    height: 16px;
    left: 85%;
    top: 3.3%;
}

