.top_bar{
  position: absolute;
  left: 13%;
  top: 1%;
}

.back{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 8%;
  top: 1%;
}

.NavBar{
  position: absolute;
  width: 85px;
  height: 1105px;
  left: 0px;
  top: 0px;
}
.background{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.icon{
  position: absolute;
  left: 23.53%;
  right: 27.06%;
  top: 1.36%;
  bottom: 94.84%;
}
.home{
  position: absolute;
  left: 23.53%;
  right: 27.06%;
  top: 7.24%;
  bottom: 88.96%;
}
.humidity{
  position: absolute;
  left: 23.53%;
  right: 27.06%;
  top: 12.31%;
  bottom: 83.89%;
}
.co2{
  position: absolute;
  left: 23.53%;
  right: 27.06%;
  top: 17.38%;
  bottom: 78.82%;
}
.temperature{
  position: absolute;
  left: 23.53%;
  right: 27.06%;
  top: 22.44%;
  bottom: 73.76%;
}
.picture{
  position: absolute;
  left: 23.53%;
  right: 27.06%;
  top: 27.51%;
  bottom: 68.69%;
}
.experiment{
  position: absolute;
  left: 23.53%;
  right: 27.06%;
  top: 32.58%;
  bottom: 63.62%;
}
.setting{
  position: absolute;
  left: 23.53%;
  right: 27.06%;
  top: 37.65%;
  bottom: 58.55%;
}
.user{
  position: absolute;
  left: 24.71%;
  right: 25.88%;
  top: 94.57%;
  bottom: 1.63%;
}

