<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/static/style/nav_bar.css">
    <style>
      .chart{
        position: absolute;
        width: 930px;
        height: 460px;
        left: 20%;
        top: 10%;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>

    <div class="NavBar">
      <img src="/static/navigation/background.svg" class="background"/>
      <img src="/static/navigation/icon.svg" class="icon"/>
      <a href="/reception/{{user}}/{{email}}"><img src="/static/navigation/home_white.svg" class="home"/></a>
      <a href="/humidity/{{user}}/{{email}}/24"><img src="/static/navigation/humidity.svg" class="humidity"/></a>
      <img src="/static/navigation/co2_green.svg" class="co2"/>
      <a href="/temperature/{{user}}/{{email}}"><img src="/static/navigation/temperature.svg" class="temperature"/></a>
      <a href="/picture/{{user}}/{{email}}"><img src="/static/navigation/picture.svg" class="picture"/></a>
      <a href="/experiment/{{user}}/{{email}}"><img src="/static/navigation/experiment.svg" class="experiment"/></a>
      <a href="/setting/{{user}}/{{email}}"><img src="/static/navigation/setting.svg" class="setting"/></a>
      <img src="/static/navigation/profile.svg" class="user"/>
    </div>

    <div class="chart">
      <canvas id="myChart"></canvas>
      <script>
        var response = $.ajax({
          type: "POST",
          url: "/chart",
          data: "24",
          async: false,
          dataType: "text"
        }).responseText;
      
        var dict = JSON.parse(response);
        var time = [];
        var value = [];
        for(var key in dict){
          if(dict.hasOwnProperty(key)){
              value.push(dict[key]);
              time.push(key);
          }
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: time,
            datasets: [{
              label: 'apples',
              data: value,
              backgroundColor: "rgba(153,255,51,0.4)"
            }]
          }
        });
      </script>
    </div>

  </body>

</html>

