<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/static/style/nav_bar.css">
    <link rel="stylesheet" href="/static/style/dashboard_chart.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static//javascript/chart.js"></script>
    <style>
      .chart{
        position: absolute;
        width: 1230px;
        height: 700px;
        left: 10%;
        top: 10%;
      }
      .gray_box{
        position: absolute;
        width: 90px;
        height: 27px;
        left: 78.4%;
        top: 2.5%;
      }
    </style>
  </head>

  <body>

    <div class="NavBar">
        <img src="/static/navigation/background.svg" class="background"/>
        <img src="/static/navigation/icon.svg" class="icon"/>
        <a href="/reception/{{secret}}"><img src="/static/navigation/home_white.svg" class="home"/></a>
        <a href="/humidity/{{secret}}/24"><img src="/static/navigation/humidity.svg" class="humidity"/></a>
        <img src="/static/navigation/co2_green.svg" class="co2"/>
        <a href="/temperature/{{secret}}/24"><img src="/static/navigation/temperature.svg" class="temperature"/></a>
        <a href="/picture/{{secret}}"><img src="/static/navigation/picture.svg" class="picture"/></a>
        <a href="/experiment/{{secret}}"><img src="/static/navigation/experiment.svg" class="experiment"/></a>
        <a href="/setting/{{secret}}"><img src="/static/navigation/setting.svg" class="setting"/></a>
        <img src="/static/navigation/profile.svg" class="user"/>
      </div>

    <a href="/reception/{{secret}}"><img src="/static/navigation/backbutton.svg" class="back"></a>
    <img src="/static/navigation/top_bar.svg" class="top_bar">
    <img src="/static/svg_chart/CO2.svg" class="title">
    <img src="/static/svg_chart/switch.svg" class="switch">
    <img src="/static/svg_chart/gray_box2.svg" class="gray_box">
    <img src="/static/svg_chart/text1.svg" class="text1">
    <a href="/co2/{{secret}}/24"><img src="/static/svg_chart/text2.svg" class="text2"></a>
    <img src="/static/svg_chart/text3.svg" class="text3">
    <a href="/co2/{{secret}}/all"><img src="/static/svg_chart/text4.svg" class="text4"></a>

    
    <div class="chart">
      <canvas id="myChart"></canvas>
      <script>
        Chart.defaults.global.defaultFontSize = 14;
        Chart.defaults.global.defaultFontFamily = "'Roboto'";
        Chart.defaults.global.elements.point.radius = 6;
        Chart.defaults.global.elements.line.fill = false;
        Chart.defaults.global.elements.point.hoverRadius = 8;
        Chart.Legend.prototype.afterFit = function() {
          this.height = this.height + 20;
        };
        charting("{{email}}", "168", "CO2");
      </script>
    </div>

  </body>

</html>

