<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
</head>
<body>
<canvas id="line-chart" width="800" height="450"></canvas>
<script>

Chart.defaults.global.defaultFontSize = 16;



new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ["12:00 AM","1:00 AM","2:00 AM","3:00 AM","4:00 AM","5:00 AM","6:00 AM","7:00 AM","8:00 AM","9:00 AM","10:00 AM","11:00 AM","12:00 PM","1:00 PM","2:00 PM","3:00 PM","4:00 PM","5:00 PM","6:00 PM","7:00 PM","8:00 PM","9:00 PM","10:00 PM","11:00 PM"],
    datasets: [{ 
        data: [73,76,70,50,52,49,47,47,70,68,71,74,79,62,64,65,72,40,53,65,47,66,72,56],
        label: "% of Humidity",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  
  options: {
    title: {
      display: true,
      text: 'Average Humidty'
    },
    scales: {
      xAxes: [{
               gridLines: {
                  display: false
               }
            }],
            yAxes: [{
               gridLines: {
                  drawOnChartArea: false,
                  lineWidth: 0,
                  
                  drawTicks: false,
                  tickMarkLength: 50
                 
               }
            }]
            }
  }
});
   </script>
</body>
</html>
