<!DOCTYPE html>

<html>

    <head>

        <title>Images</title>

        <style>
            .content {
              max-width: 500px;
              margin: auto;
            }
        </style>

    </head>

    <body>

      <div class="content">         

        <h4>Please enter a bucket name to display the count of images <br> and the latest image in that bucket:</h4>
  
          <form action='/images' method="post">
            <input name='bucket'>
            <input type='submit' Value='Submit'>
          </form>
          
          <p> {{ count }} </p> 
          <p> The latest picture is: <a href="/images/retrieve/{{ bucket_name }}"> {{ latest }}</a> </p>   
      
          <img src="/static/images/{{ img }}" alt="Not yet Available" style="width:640px;height:360px;">   
  
          <br>
        
          <a href="/download/{{ img }}"><button class='btn-default'>Download!</button></a>    
  
          <p> {{ output }} </p>

          <br>

          <a href="/"><button class='btn-default'>Back</button></a>
  
      </div>  
      
    </body>

</html>