<!DOCTYPE html>

<html>
  <head>
    <title>MARSfarm</title>
    <style>
      .signin{
        position: absolute;
        top: 50%;
        left: 44%;
      }
      .logo{
        position: absolute;
        top: 20%;
        left: 20%;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <meta name="google-signin-client_id" content="504897881243-potvgv2v08c3fc71f4mcciut0un009et.apps.googleusercontent.com">
  </head>

  <body>

      <img src="/static/icon/icon.svg" class="logo"/>
     
      <div id="my-signin2" class="signin"></div>

      <script>
        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          var name = profile.getName();
          var email = profile.getEmail();

          alert("Welcome " + name +", you are logged in.");
          
          window.location.assign("http://app.marsfarm.io/reception/" + name + "/" + email); 
        }

        function renderButton() {
          gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSignIn,
          });
        }
      </script>      
  </body>
</html>