<!DOCTYPE html>

<html>
  <head>
    <title>MARSfarm</title>
    <style>
      .content{
        position: absolute;
        top: 40%;
        left: 45%;
        right: 55%;
      }
      .logo{
        position:absolute;
        top: 10%;
        left: 45%;
        width: 100px;
        height: 100px;
      }
      h1 {margin-top:200px;text-align:center; color:green;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="504897881243-potvgv2v08c3fc71f4mcciut0un009et.apps.googleusercontent.com">
  </head>

  <body>
      <img src="/static/icon/logo.jpg" class="logo"/>
      <h1>Welcome to MARSfarm Web Application</h1>
      <div class="content">
        <a class="g-signin2" data-onsuccess="onSignIn">Sign in with Google</a>
      </div>

      <script>
        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          var name = profile.getName();
          var email = profile.getEmail();

          alert("Welcome " + name + ", you are logged in");
          window.location.assign("http://app.marsfarm.io/reception/" + name + "/" + email);
        }
      </script>      
  </body>
</html>