<!DOCTYPE html>

<html>
  <head>
    <title>MARSfarm</title>
    <style>
      .content{
          margin-left: 700px;
      }
      h1 {margin-top:100px;text-align:center; color:green;}
      p {text-align:center; font-size:20px;}
    </style>
  </head>

  <body>
      <h1>Welcome to MARSfarm Web Application</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p><a href="/signin">Sign in with Google</a></p>     
      <p> or </p>
      <p><a href="/visitor">Continue without signing in</a></p>
  </body>
</html>