<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/static/style/nav_bar.css">
    <link rel="stylesheet" href="/static/style/dashboard_pic.css">
  </head>

  <body>

    <div class="NavBar">
      <img src="/static/navigation/background.svg" class="background"/>
      <img src="/static/navigation/icon.svg" class="icon"/>
      <a href="/reception/{{user}}/{{email}}"><img src="/static/navigation/home_white.svg" class="home"/></a>
      <a href="/humidity/{{user}}/{{email}}"><img src="/static/navigation/humidity.svg" class="humidity"/></a>
      <a href="/co2/{{user}}/{{email}}"><img src="/static/navigation/co2.svg" class="co2"/></a>
      <a href="/temperature/{{user}}/{{email}}"><img src="/static/navigation/temperature.svg" class="temperature"/></a>
      <img src="/static/navigation/picture_blue.svg" class="picture"/>
      <a href="/experiment/{{user}}/{{email}}"><img src="/static/navigation/experiment.svg" class="experiment"/></a>
      <a href="/setting/{{user}}/{{email}}"><img src="/static/navigation/setting.svg" class="setting"/></a>
      <img src="/static/navigation/profile.svg" class="user"/>
    </div>

    <img src="/static/svg_image_dashboard/view_image_top_bar.svg" class="top_bar">
    <p class="title">View Images</p>
    <a href="/reception/{{user}}/{{email}}"><img src="/static/navigation/backbutton.svg" class="back"></a>
    <a href="/gif/{{email}}"><img src="/static/svg_image_dashboard/gif_button.svg" class="gif_button"></a>
   
    <img src="{{s3_link}}{{img_28}}" class="img_28" alt="No data on this date">
    <img src="{{s3_link}}{{img_27}}" class="img_27" alt="No data on this date">
    <img src="{{s3_link}}{{img_26}}" class="img_26" alt="No data on this date">
    <img src="{{s3_link}}{{img_25}}" class="img_25" alt="No data on this date">
    <img src="{{s3_link}}{{img_24}}" class="img_24" alt="No data on this date">
    <img src="{{s3_link}}{{img_23}}" class="img_23" alt="No data on this date">
    <img src="{{s3_link}}{{img_22}}" class="img_22" alt="No data on this date">
    <img src="{{s3_link}}{{img_21}}" class="img_21" alt="No data on this date">
    <img src="{{s3_link}}{{img_20}}" class="img_20" alt="No data on this date">
    <img src="{{s3_link}}{{img_19}}" class="img_19" alt="No data on this date">
    <img src="{{s3_link}}{{img_18}}" class="img_18" alt="No data on this date">
    <img src="{{s3_link}}{{img_17}}" class="img_17" alt="No data on this date">
    <img src="{{s3_link}}{{img_16}}" class="img_16" alt="No data on this date">
    <img src="{{s3_link}}{{img_15}}" class="img_15" alt="No data on this date">
    <img src="{{s3_link}}{{img_14}}" class="img_14" alt="No data on this date">
    <img src="{{s3_link}}{{img_13}}" class="img_13" alt="No data on this date">
    <img src="{{s3_link}}{{img_12}}" class="img_12" alt="No data on this date">
    <img src="{{s3_link}}{{img_11}}" class="img_11" alt="No data on this date">
    <img src="{{s3_link}}{{img_10}}" class="img_10" alt="No data on this date">
    <img src="{{s3_link}}{{img_9}}" class="img_9" alt="No data on this date">
    <img src="{{s3_link}}{{img_9}}" class="img_8" alt="No data on this date">
    <img src="{{s3_link}}{{img_7}}" class="img_7" alt="No data on this date">
    <img src="{{s3_link}}{{img_6}}" class="img_6" alt="No data on this date">
    <img src="{{s3_link}}{{img_5}}" class="img_5" alt="No data on this date">
    <img src="{{s3_link}}{{img_4}}" class="img_4" alt="No data on this date">
    <img src="{{s3_link}}{{img_3}}" class="img_3" alt="No data on this date">
    <img src="{{s3_link}}{{img_2}}" class="img_2" alt="No data on this date">
    <img src="{{s3_link}}{{img_1}}" class="img_1" alt="No data on this date">


    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_28">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_27">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_26">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_25">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_24">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_23">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_22">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_21">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_20">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_19">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_18">
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_17">    
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_16"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_15"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_14"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_13"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_12"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_11"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_10"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_9"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_8"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_7"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_6"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_5"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_4"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_3"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_2"> 
    <img src="/static/svg_image_dashboard/annotation.svg" class="bar_1"> 


    <p class="bar_28">{{img_28}}</p>
    <p class="bar_27">{{img_27}}</p>
    <p class="bar_26">{{img_26}}</p>
    <p class="bar_25">{{img_25}}</p>
    <p class="bar_24">{{img_24}}</p>
    <p class="bar_23">{{img_23}}</p>
    <p class="bar_22">{{img_22}}</p>
    <p class="bar_21">{{img_21}}</p>
    <p class="bar_20">{{img_20}}</p>
    <p class="bar_19">{{img_19}}</p>
    <p class="bar_18">{{img_18}}</p>
    <p class="bar_17">{{img_17}}</p>
    <p class="bar_16">{{img_16}}</p>
    <p class="bar_15">{{img_15}}</p>
    <p class="bar_14">{{img_14}}</p>
    <p class="bar_13">{{img_13}}</p>
    <p class="bar_12">{{img_12}}</p>
    <p class="bar_11">{{img_11}}</p>
    <p class="bar_10">{{img_10}}</p>
    <p class="bar_9">{{img_9}}</p>
    <p class="bar_8">{{img_8}}</p>
    <p class="bar_7">{{img_7}}</p>
    <p class="bar_6">{{img_6}}</p>
    <p class="bar_5">{{img_5}}</p>
    <p class="bar_4">{{img_4}}</p>
    <p class="bar_3">{{img_3}}</p>
    <p class="bar_2">{{img_2}}</p>
    <p class="bar_1">{{img_1}}</p>

    

  </body>

</html>

