<!DOCTYPE html>
<html>

  <head>
    <style>
      .img_preview{
        position: absolute;
        width: 398px;
        height: 309px;
        left: 119px;
        top: 14%;
      }
      .signin{
        position:absolute;
        right: 0.5%;
        top: 0.5%;
      }
    </style>
    <link rel="stylesheet" href="/static/style/nav_bar.css">
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <meta name="google-signin-client_id" content="504897881243-potvgv2v08c3fc71f4mcciut0un009et.apps.googleusercontent.com">
  </head>

  <body>

    <div class="NavBar">
      <img src="/static/navigation/background.svg" class="background"/>
      <img src="/static/navigation/icon.svg" class="icon"/>
      <img src="/static/navigation/home_gray.svg" class="home"/>
      <a href="/humidity/{{user}}/{{email}}/24"><img src="/static/navigation/humidity.svg" class="humidity"/></a>
      <a href="/co2/{{user}}/{{email}}/24"><img src="/static/navigation/co2.svg" class="co2"/></a>
      <a href="/temperature/{{user}}/{{email}}/24"><img src="/static/navigation/temperature.svg" class="temperature"/></a>
      <a href="/picture/{{user}}/{{email}}"><img src="/static/navigation/picture.svg" class="picture"/></a>
      <a href="/experiment/{{user}}/{{email}}"><img src="/static/navigation/experiment.svg" class="experiment"/></a>
      <a href="/setting/{{user}}/{{email}}"><img src="/static/navigation/setting.svg" class="setting"/></a>
      <img src="/static/navigation/profile.svg" class="user"/>
    </div>

    <img src="{{link}}" class="img_preview">

    <div class="signin">
    <div id="my-signin2" class="signin"></div>
    </div>

    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var name = profile.getName();
        var email = profile.getEmail();  
      }

      function renderButton() {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 120,
          'height': 25,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSignIn,
        });
      }
    </script>     
  </body>

</html>

