<!DOCTYPE html>

<html>

  <head>

    <title>MARSfarm</title>

    <style>
      .content {
              max-width: 700px;
              margin: auto;
            }

      .button {
               text-align: center;
            }

    </style>

  </head>

  <body>

    <div class="content">

      <h4>Please enter the name of your database:</h4>
  
      <form action='/sensor' method="post">
        <input name='db_name'>
        <input type='submit' Value='Submit'>
      </form>
      <p> There are currently {{ count }} enviromental records in your database </p>
      <br>
      <br>
      <p> The latest temperature is: {{ latest_tmp }} </p>  
      <p> The latest humidity is: {{ latest_hum }} </p>
      <p> The latest CO2 reading is: {{ latest_co2 }} </p>
      <br>
      <p> Get Latest complete temperature record  </p> 
      <p> {{ tmp_record }} </p>  

      <p> Get Latest complete CO2 record  </p> 
      <p> {{ co2_record }} </p>  

      <p> Get Latest complete Humidity record  </p> 
      <p> {{ hum_record }} </p> 

      <a href="/"><button class='btn-default'>Back</button></a>
    </div>
  </body>
</html>