<!DOCTYPE html>
<html>

  <head>
  <title>Setting</title>
    <link rel="stylesheet" href="/static/style/nav_bar.css">
    <style>
            .content {
              max-width: 500px;
              margin: auto;
            }
    </style>
        
  </head>

  <body>
    <div class="NavBar">
      <img src="/static/navigation/background.svg" class="background"/>
      <img src="/static/navigation/icon.svg" class="icon"/>
      <a href="/reception/{{secret}}"><img src="/static/navigation/home_white.svg" class="home"/></a>
      <a href="/humidity/{{secret}}/24"><img src="/static/navigation/humidity.svg" class="humidity"/></a>
      <a href="/co2/{{secret}}/24"><img src="/static/navigation/co2.svg" class="co2"/></a>
      <a href="/temperature/{{secret}}/24"><img src="/static/navigation/temperature.svg" class="temperature"/></a>
      <a href="/picture/{{secret}}"><img src="/static/navigation/picture.svg" class="picture"/></a>
      <a href="/experiment/{{secret}}"><img src="/static/navigation/experiment.svg" class="experiment"/></a>
      <img src="/static/navigation/setting_gray.svg" class="setting"/>
      <img src="/static/navigation/profile.svg" class="user"/>
    </div>  
  </body>

</html>

