<!DOCTYPE html>

<html>

  <head>

    <title>MARSfarm</title>

    <style>
      .content {
              max-width: 700px;
              margin: auto;
            }

    </style>

  </head>

  <body>

    <div class="content">
      
      <h3> Fill the following form to submit a phenotype record to CouchDB. </h3>

      <form action="/submit/{{user}}" method="post">

        <p> Database: <input name='db_name'> </p>
        
        <p> Timestamp: <input name='timestamp' value='06/22/20 13:00PM'> </p>

        <p> Plot: <input name='plot'> </p>

        <p> Trial: <input name='trial'> </p>

        <p> Part: <select name="attribute">
                    <option selected value="Plant">Plant</option>
                    <option value="Leaf">Leaf</option>
                    <option value="Stem">Stem</option>
                    <option value="Root">Root</option>
                    </select></p>

        <p> Attribute: <input name='type'> </p>

        <p> Value: <input name='value'> </p>

        <p> Unit: <input name='unit'> </p>

        <p> UUID: <select name='uuid'> 
                    <option selected value="e8884d53-f49f-4882-aa13-ba96280f6a7a">e8884d53-f49f-4882-aa13-ba96280f6a7a</option>
                  </select>    
        </p>

        <input type='submit' Value='Submit'>

      </form>

      {{ rec }}

      <br>

      <a href="/"><button class='btn-default'>Back</button></a>

    </div>

  </body>

</html>